<section>
    <div class="inner">
        <div class="image-holder">
            <img src="{{img}}" style="height: 100%; object-fit: cover;" alt="">
        </div>
        <div class="form-content" >
            <div class="form-header">
                <h3>Eske ou konnenm ?</h3>
            </div>
            <div class="form-row">
                <div class="question-container active" id="question1">
                    <p>{{qst}}</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{name}}" id="q1a" value="{{qst1}}">
                        <label class="form-check-label" for="q1a">{{qst1}}</label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{name}}" id="q2b" value="{{qst2}}">
                        <label class="form-check-label" for="q2b">{{qst2}}</label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{name}}" id="q3c" value="{{qst3}}">
                        <label class="form-check-label" for="q3c">{{qst3}}</label>
                    </div>
                </div>
            </div>
            
<!-- 							
            <div class="checkbox-circle">
                <label>
                    <input type="checkbox" checked> Nor again is there anyone who loves or pursues or desires to obtaini.
                    <span class="checkmark"></span>
                </label>
            </div> -->
        </div>
    </div>
</section>